body {
    background-color: #0E003D;
}

body *{
    color:#E7FFD9;
}

.Header {
    background-color:gray;
    top:0%;
    right:0%;
    left:0%;
    height:8%;
    position:sticky;
    text-align: center;
}

.Header a:hover {
    text-decoration:double rgb(255, 255, 148);
    color: aliceblue;
}

.Header a {
    text-decoration: none;
    color:aqua;
}

.Title {
    color:#8ed619;
    font-family: fantasy;
    text-align: center;
}